__pycache__
*.pyc
*.apworld
games/kroniki-elevena/Save01.rvdata2
games/kroniki-elevena/Save02.rvdata2
games/kroniki-elevena/Save03.rvdata2
games/kroniki-elevena/Save04.rvdata2
games/kroniki-elevena/Save05.rvdata2
games/kroniki-elevena/Save06.rvdata2
games/kroniki-elevena/Save07.rvdata2
games/kroniki-elevena/Save08.rvdata2
games/kroniki-elevena/Save09.rvdata2
games/kroniki-elevena/Save10.rvdata2
games/kroniki-elevena/Save11.rvdata2
games/kroniki-elevena/Save12.rvdata2
games/kroniki-elevena/Save13.rvdata2
games/kroniki-elevena/Save14.rvdata2
games/kroniki-elevena/Save15.rvdata2
games/kroniki-elevena/Save16.rvdata2